In [4]:
#import Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import pymongo

In [5]:
#executable path for window users
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [6]:
#Executable path for Mac Users
# executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
# browser = Browser('chrome', **executable_path, headless=False)

In [7]:
#url of page to be scrapped from indeed 
url = 'https://www.indeed.com/jobs?q=Data+Scientist&l=Irvine%2C+CA&radius=100'
browser.visit(url)

In [8]:
#BeautifulSoup Parser
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [9]:
#result to return the job title
titles = soup.find_all("h2", class_ = "title")
print(titles)
#title[1].get_text()

[<h2 class="title">
<a class="jobtitle turnstileLink recent-job" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0AnQhcI30S35noZYX7fptC9JHDBVuSQzNzWdPUWRF9nG_TgfFeJcuyvoA_Dmg8a2SWU0CWz29S6MT30H2yhzzsBpPN9y0B6egimIjGTLXX1oUyXsUX7-ksrT2fHw1ZxE675VWanqeqU3t9LUAatd_nATymTC1UVJ8jmJ9jwNZRqU2KUNNNYC4rxJsvpiM-d7AldzQfnLKOCD5713x_i5GSb0lVRcjby777LtXSaPcCM4xYvHWQO_Xo6ZgDFNihMfdMsSee66UXsUOK46tWvVQesV9tf1uYKP9PKGGfowqnHvOGpohGeHuLjm9sAPf-487arOgT0ZTpep80_sdTGJYluz4NZrz5TrH3eruzPzHv44QrE7_7-WtgugIkFcqKuscbQCTZLHpS9uo90s7HyJIvoZHbgU1nPieTSiGqQyMXbih0x1dPJLtrEo4ZQXE-DndB7Ah63na4y91e-8vrd1F-s&amp;p=0&amp;fvj=1&amp;vjs=3" id="sja0" onclick="setRefineByCookie(['radius']); sjoc('sja0', 1); convCtr('SJ'); rclk(this,jobmap[0],true,1);" onmousedown="sjomd('sja0'); clk('sja0'); rclk(this,jobmap[0],1);" rel="noopener nofollow" target="_blank" title="Educational Data Scientist">
Educational <b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0AMr11YIOo206dX9CE572HoIBzjTozchv3QrfVeNVhstmAbPwFeZPDdH5w4MW3uUm59zxvwZmewuUare5btROGxqWx-_fSqJeoXHzgLaa8yIT3c-7Q_Qgpv8mTModHRHthZsuQggKKJ9TnHriBpY7kvmeTBHlvkjXeCuKGqTWnOLk1Ejk3aguHuq88E-5LTjzz7MWqLQ2Gdchhd__XXqAdz1xUtHGMmB4TmDtzIMxpVZzX5_zEEWR9SXl7ItRcEpzVqQPItjr8FIXvRz4n7ecQYuzZ9iRMFJqYZmsW3o6U9woLE2S5lJ0iQr4nAK-zekze-tmT_JVyZizDorSu6OvjgL16AFDUpu2CzdG9HupktumqGTf9RN9Kcm4uXSrGIzqWHqsXzUVKmvbY1BwN2KUBvdDlsfJI7xtFcj-Jh5nQzD_uXoH7UdAqeqBm9Pmr2ozdXX-D2DkUvC1-kTUZiFWduGUVsKkNbS_O5ld0ZEzVIFzxlwROGpq8SVVlydmCSUqw=&amp;p=1&amp;fvj=1&amp;vjs=3" id="sja1" onclick="setRefineByCookie(['radius']); sjoc('sja1', 1); convCtr('SJ'); rclk(this,jobmap[1],true,1);" onmousedown="sjomd('sja1'); clk('sja1'); rclk(this,jobmap[1],1);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0ClvsRMZZYbWkncYKklQZhomgGvtzxN2NDL0Yep_oEtFRBSc398mSurhg85pZ9IK4hwZENIdnfMrd9vgmYaldPQpYZYmqd_RWsMa-UQUHq33lrt1JtH8E7ZxWSo7ImAkgsQHQpZ3y3tmy7gmAY8NN36POy8Dj4luchUDGH02DdYrytAUrZpWHZzq5cSROI0zUQbql7lXz9ojehjXEmU_GlWW1RjdjmFQAABecho3bE3Sicw48LQWOl4IVUqRasDGXkpWq8rxuaRhl8tIN23R7EUiVlc8ipp_hgbpxgedUATBlOMSdL6bsfuYIaqWAcz0exppRjT8J4GBXJn6hB6IqmaawZUftGny70MzjB-QbRIO19CoKpnMQdg-GuNXESPQhOr9z2sbMcNHEiajRmFwQ6S&amp;p=2&amp;fvj=0&amp;vjs=3" id="sja2" onclick="setRefineByCookie(['radius']); sjoc('sja2', 0); convCtr('SJ'); rclk(this,jobmap[2],true,0);" onmousedown="sjomd('sja2'); clk('sja2'); rclk(this,jobmap[2],0);" rel="noopener nofollow" target="_blank" title="Senior Data Scientist">
Senior <b>Data</b> <b>Scientist</b></a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0ClvsRMZZYbWkncYKklQZhomgGvtzxN2NDL0Yep_oEtFRBSc398mSurhg85pZ9IK4hwZENIdnfMrfT31QlmgQnUNsllJCuzCyoL6Y8z-8PyQo2okYl75ZdJ1F6hsfqRCcpp1Z-R9T2X6kucCAyUQ1kNIaJa22lGA5UtOENvvPa8OzgKk16ihMlXu6A-wTP58qta_cjE6Drv_siRzx64oQJMnPVdTu_UTotH1eTYLyfe5RAkB7xPJl_c9PqpqcXFEdEvS1nLS1d1vqR4aowzF22HTxT32P-az25IiAmurN6ORheZeBvKkWnEHb_nBNP1GMrKImBJHGkICeGsThOjI1PwhiTPBCHS79ChUhFYL7hqdMgBjXPC7Falu59dETm6eVVI-qXe_YDHsA==&amp;p=3&amp;fvj=0&amp;vjs=3" id="sja3" onclick="setRefineByCookie(['radius']); sjoc('sja3', 0); convCtr('SJ'); rclk(this,jobmap[3],true,0);" onmousedown="sjomd('sja3'); clk('sja3'); rclk(this,jobmap[3],0);" rel="noopener nofollow" target="_blank" title="Staff Data Scientist - Analytics">
Staff <b>Data</b> <b>Scientist</b> - Analytics</a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0ClvsRMZZYbWkncYKklQZhomgGvtzxN2NDL0Yep_oEtFRBSc398mSurhg85pZ9IK4hwZENIdnfMrQ6jY9y4BiMTjFetE6lV34ljRGQOt0c--tGxHypRVfT_9BDTHYVgA85tPr6gqrXWhudRWWEWingJnDQFZKU-Qdmamvrl0sj3Z9_shtezeqE11cIcC4JVTcWxpPd9HYsrx14V7fyxvxzCc8_SVM-fOxAmusrJfGdSBymigJzAevS7wI_ev3qHy-s6HxnIbQZwJTrvgBWvlhPmqS8KjzXM0EPr_bak_RjMdXxGxK68DpRJd4nQlR_SOVrpU9US7mLEvQjK4fZjGKi_wB0E6NSv5G_vELAd6b7U-szGbW9B_b_sOQGDQOMXSAsc7whIhWeOyg==&amp;p=4&amp;fvj=0&amp;vjs=3" id="sja4" onclick="setRefineByCookie(['radius']); sjoc('sja4', 0); convCtr('SJ'); rclk(this,jobmap[4],true,0);" onmousedown="sjomd('sja4'); clk('sja4'); rclk(this,jobmap[4],0);" rel="noopener nofollow" target="_blank" title="Staff Data Scientist">
Staff <b>Data</b> <b>Scientist</b></a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0BvQeUJ0cfNniX7CCgc4KydoCBbpnSCA7A18Rgk6d9TuQwfr8xUPdI-9H9njcVR5cezeh8s2wAHtKx_vlb3aaq5GbIrM3Eva384Ftljt-FkfHp0ilIKWefU4jrJhfoZ-Ky77DvrCBUsgCMZn3BnuHHLDgm4TuMhkFvD-2JvLblQSWhmAN4gAeifbzZnmwe8Dr86lx4mpO_AMAYPheQIW13drnSRBWqV74gKcHynQ7mDyIb-9zpD8CP2H_fh5AsnxxfrMMOK15TjqNue8SjwdDjVrSpz1faOALeStf2GbzNzu7dtDkUo8QDR8OrtPCmfzjo6c3zJf5qJi-GgI43R2ue5s_0zyk_dSt5mPJBFa14HYLwhpfVt-HvpdtCQ73ZXyuTivelp4j9dWJ49qzRahs3gD4OFyn18NdHL4o4Zp3AaqVBhfw6tvsWLiSgB15jhV9h61pBbQ-zSVMSvpU7ItuvY3ih66sIN3ec=&amp;p=5&amp;fvj=1&amp;vjs=3" id="sja5" onclick="setRefineByCookie(['radius']); sjoc('sja5', 1); convCtr('SJ'); rclk(this,jobmap[5],true,1);" onmousedown="sjomd('sja5'); clk('sja5'); rclk(this,jobmap[5],1);" rel="noopener nofollow" target="_blank" title="Senior Health Data Analyst (Remote / Tableau experience required)">
Senior Health <b>Data</b> Analyst (Remote / Tableau experience requ...</a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/company/Mobile-Programming/jobs/Data-Scientist-df4e6af65c173ecb?fccid=d0377b42bd69efd8&amp;vjs=3" id="jl_df4e6af65c173ecb" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[6],true,0);" onmousedown="return rclk(this,jobmap[6],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=8c14ad33311ec5b3&amp;fccid=87d7af0ec9cd5df0&amp;vjs=3" id="jl_8c14ad33311ec5b3" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[7],true,0);" onmousedown="return rclk(this,jobmap[7],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/company/GradTests/jobs/Data-Scientist-61369985007480f5?fccid=3b57c72e54f9233d&amp;vjs=3" id="jl_61369985007480f5" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[8],true,1);" onmousedown="return rclk(this,jobmap[8],1);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=26e1065d7f6d9c88&amp;fccid=8f3c0373bcfa5520&amp;vjs=3" id="jl_26e1065d7f6d9c88" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[9],true,0);" onmousedown="return rclk(this,jobmap[9],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=e48719183cfe2f66&amp;fccid=ba0b4ef452449c10&amp;vjs=3" id="jl_e48719183cfe2f66" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[10],true,0);" onmousedown="return rclk(this,jobmap[10],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=a2e9b786626bdcf5&amp;fccid=5eaae7a6faec1749&amp;vjs=3" id="jl_a2e9b786626bdcf5" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[11],true,0);" onmousedown="return rclk(this,jobmap[11],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=539843aa92aaf8ce&amp;fccid=a23e5e2f20b1aac4&amp;vjs=3" id="jl_539843aa92aaf8ce" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[12],true,0);" onmousedown="return rclk(this,jobmap[12],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/company/Nihon-Kohden-America/jobs/Senior-Data-Scientist-b456cb2212135131?fccid=54764032272f66ae&amp;vjs=3" id="jl_b456cb2212135131" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[13],true,1);" onmousedown="return rclk(this,jobmap[13],1);" rel="noopener nofollow" target="_blank" title="Sr. Data Scientist">
Sr. <b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=30a3bcd7b43db91d&amp;fccid=3bcef03e34391ca8&amp;vjs=3" id="jl_30a3bcd7b43db91d" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[14],true,0);" onmousedown="return rclk(this,jobmap[14],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
</h2>]

In [10]:
#result to be Returned as an iterable list
for title in titles:
    job_title = title.get_text()
    print(job_title)

Educational Data Scientist



Data Scientist
new


Senior Data Scientist
new


Staff Data Scientist - Analytics
new


Staff Data Scientist
new


Senior Health Data Analyst (Remote / Tableau experience requ...
new


Data Scientist
new


Data Scientist



Data Scientist



Data Scientist
new


Data Scientist



Data Scientist



Data Scientist



Sr. Data Scientist



Data Scientist

In [11]:

try:
    dismiss = browser.find_by_xpath('/html/body/div[2]/div/section/div/div[2]')
    more_jobs = browser.find_by_xpath('/html/body/table[2]/tbody/tr/td/table/tbody/tr/td[1]/nav/div/ul/li[6]/a/span')
    no_thanks = browser.find_by_xpath('/html/body/div[3]/div[2]/div[4]/div[3]/div[2]/a')
    dismiss.first.click()
    more_jobs.first.click()
    no_thanks.first.click()
except:
    print("not found")

not found

In [12]:
#Empty list to append the the result and index 0 is an int 
job_titles = [0]
 
 #loop through the result    
for x in range(1, 2):
    titles = soup.find_all("h2", class_ = "title")
    for title in titles:
        job_titles.append(title.text)
        print('page:', x, '-------------')
        print(title.text)
        browser.find_by_xpath('/html/body/table[2]/tbody/tr/td/table/tbody/tr/td[1]/nav/div/ul/li[6]/a/span/span')

page: 1 -------------


Educational Data Scientist

page: 1 -------------


Data Scientist
new
page: 1 -------------


Senior Data Scientist
new
page: 1 -------------


Staff Data Scientist - Analytics
new
page: 1 -------------


Staff Data Scientist
new
page: 1 -------------


Senior Health Data Analyst (Remote / Tableau experience requ...
new
page: 1 -------------


Data Scientist
new
page: 1 -------------


Data Scientist

page: 1 -------------


Data Scientist

page: 1 -------------


Data Scientist
new
page: 1 -------------


Data Scientist

page: 1 -------------


Data Scientist

page: 1 -------------


Data Scientist

page: 1 -------------


Sr. Data Scientist

page: 1 -------------


Data Scientist

In [13]:
#Use replace to print out a clean job title
clean_job_titles = []

#loop through result
for job in job_titles[1:]:
    clean_job_title = job.replace('\n', '')
    clean_job_titles.append(clean_job_title)

In [14]:
#print clean job titles to check
print(clean_job_titles)

['Educational Data Scientist', 'Data Scientistnew', 'Senior Data Scientistnew', 'Staff Data Scientist - Analyticsnew', 'Staff Data Scientistnew', 'Senior Health Data Analyst (Remote / Tableau experience requ...new', 'Data Scientistnew', 'Data Scientist', 'Data Scientist', 'Data Scientistnew', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Sr. Data Scientist', 'Data Scientist']

In [15]:
#result to return the job locations
locations = soup.find_all("span", class_ = "location accessible-contrast-color-location")
locations

[<span class="location accessible-contrast-color-location">Irvine, CA</span>,
 <span class="location accessible-contrast-color-location">Irvine, CA 92618 <span style="font-size: smaller">(East Industrial Complex area)</span></span>,
 <span class="location accessible-contrast-color-location">Los Angeles, CA</span>,
 <span class="location accessible-contrast-color-location">Pasadena, CA 91101 <span style="font-size: smaller">(South area)</span></span>,
 <span class="location accessible-contrast-color-location">Irvine, CA</span>,
 <span class="location accessible-contrast-color-location">Irvine, CA 92617 <span style="font-size: smaller">(Research Park area)</span></span>,
 <span class="location accessible-contrast-color-location">Irvine, CA 92617 <span style="font-size: smaller">(Research Park area)</span></span>,
 <span class="location accessible-contrast-color-location">Irvine, CA 92618 <span style="font-size: smaller">(Irvine Health and Science Complex area)</span></span>,
 <span class="location accessible-contrast-color-location">San Diego, CA 92127</span>]

In [16]:
#Empty list to append the result
job_locations = []


#loop through the returned result
for x in range(1, 2):
    locations = soup.find_all("span", class_ = "location accessible-contrast-color-location")
    for location in locations:
        job_locations.append(location.text)
        print('page:', x, '-------------')
        print(location.text)
        browser.find_by_xpath('/html/body/table[2]/tbody/tr/td/table/tbody/tr/td[1]/div[7]/div[1]/span[1]')

page: 1 -------------
Irvine, CA
page: 1 -------------
Irvine, CA 92618 (East Industrial Complex area)
page: 1 -------------
Los Angeles, CA
page: 1 -------------
Pasadena, CA 91101 (South area)
page: 1 -------------
Irvine, CA
page: 1 -------------
Irvine, CA 92617 (Research Park area)
page: 1 -------------
Irvine, CA 92617 (Research Park area)
page: 1 -------------
Irvine, CA 92618 (Irvine Health and Science Complex area)
page: 1 -------------
San Diego, CA 92127

In [17]:
#print job locations
print(job_locations)
browser.quit()

['Irvine, CA', 'Irvine, CA 92618 (East Industrial Complex area)', 'Los Angeles, CA', 'Pasadena, CA 91101 (South area)', 'Irvine, CA', 'Irvine, CA 92617 (Research Park area)', 'Irvine, CA 92617 (Research Park area)', 'Irvine, CA 92618 (Irvine Health and Science Complex area)', 'San Diego, CA 92127']

In [18]:
#zip both result into a list
new_list = list(zip(clean_job_titles, job_locations))

In [19]:
#print new_list that has both the job_titiles and locations
print(new_list)

[('Educational Data Scientist', 'Irvine, CA'), ('Data Scientistnew', 'Irvine, CA 92618 (East Industrial Complex area)'), ('Senior Data Scientistnew', 'Los Angeles, CA'), ('Staff Data Scientist - Analyticsnew', 'Pasadena, CA 91101 (South area)'), ('Staff Data Scientistnew', 'Irvine, CA'), ('Senior Health Data Analyst (Remote / Tableau experience requ...new', 'Irvine, CA 92617 (Research Park area)'), ('Data Scientistnew', 'Irvine, CA 92617 (Research Park area)'), ('Data Scientist', 'Irvine, CA 92618 (Irvine Health and Science Complex area)'), ('Data Scientist', 'San Diego, CA 92127')]

In [20]:
#append list into a python dictionary
updated_list = dict(new_list)
updated_list

{'Educational Data Scientist': 'Irvine, CA',
 'Data Scientistnew': 'Irvine, CA 92617 (Research Park area)',
 'Senior Data Scientistnew': 'Los Angeles, CA',
 'Staff Data Scientist - Analyticsnew': 'Pasadena, CA 91101 (South area)',
 'Staff Data Scientistnew': 'Irvine, CA',
 'Senior Health Data Analyst (Remote / Tableau experience requ...new': 'Irvine, CA 92617 (Research Park area)',
 'Data Scientist': 'San Diego, CA 92127'}

In [21]:
#Initialize pymongo to work with MongoDBs
#CONNECT MONGO DB
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [22]:
#convert newlist to pandas dataframe
updated_list_df = pd.DataFrame(new_list)
updated_list_df

,0,1
0,Educational Data Scientist,"Irvine, CA"
1,Data Scientistnew,"Irvine, CA 92618 (East Industrial Complex area)"
2,Senior Data Scientistnew,"Los Angeles, CA"
3,Staff Data Scientist - Analyticsnew,"Pasadena, CA 91101 (South area)"
4,Staff Data Scientistnew,"Irvine, CA"
5,Senior Health Data Analyst (Remote / Tableau e...,"Irvine, CA 92617 (Research Park area)"
6,Data Scientistnew,"Irvine, CA 92617 (Research Park area)"
7,Data Scientist,"Irvine, CA 92618 (Irvine Health and Science Co..."
8,Data Scientist,"San Diego, CA 92127"

In [23]:
#append colums keys
New_job_location_df = pd.DataFrame(new_list, columns=['Job_Title', 'Location'])
New_job_location_df

,Job_Title,Location
0,Educational Data Scientist,"Irvine, CA"
1,Data Scientistnew,"Irvine, CA 92618 (East Industrial Complex area)"
2,Senior Data Scientistnew,"Los Angeles, CA"
3,Staff Data Scientist - Analyticsnew,"Pasadena, CA 91101 (South area)"
4,Staff Data Scientistnew,"Irvine, CA"
5,Senior Health Data Analyst (Remote / Tableau e...,"Irvine, CA 92617 (Research Park area)"
6,Data Scientistnew,"Irvine, CA 92617 (Research Park area)"
7,Data Scientist,"Irvine, CA 92618 (Irvine Health and Science Co..."
8,Data Scientist,"San Diego, CA 92127"

In [35]:
New_job_location_df['City'] = New_job_location_df['Location'].str.split(',').str[0]

In [36]:
New_job_location_df

,Job_Title,Location,City
0,Educational Data Scientist,"Irvine, CA",Irvine
1,Data Scientistnew,"Irvine, CA 92618 (East Industrial Complex area)",Irvine
2,Senior Data Scientistnew,"Los Angeles, CA",Los Angeles
3,Staff Data Scientist - Analyticsnew,"Pasadena, CA 91101 (South area)",Pasadena
4,Staff Data Scientistnew,"Irvine, CA",Irvine
5,Senior Health Data Analyst (Remote / Tableau e...,"Irvine, CA 92617 (Research Park area)",Irvine
6,Data Scientistnew,"Irvine, CA 92617 (Research Park area)",Irvine
7,Data Scientist,"Irvine, CA 92618 (Irvine Health and Science Co...",Irvine
8,Data Scientist,"San Diego, CA 92127",San Diego

In [37]:
#Define database and collection
#Database = Indeed_db
#Collections = Data_jobs
client.Indeed_db.Data_jobs.insert_many(New_job_location_df.to_dict('records'))

In [ ]:
#Done