In [204]:
#import Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import pymongo 
import requests
from config import api_key

In [205]:
# #executable path for window users
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [206]:
#Initialize pymongo to work with MongoDBs
#CONNECT MONGO DB
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [207]:
# Executable path for Mac Users
# executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
# browser = Browser('chrome', **executable_path, headless=False)

In [208]:
#url of page to be scrapped from indeed 
# url = 'https://www.indeed.com/jobs?q=Data+Scientist&l=Irvine%2C+CA&radius=100'
# url = 'https://www.indeed.com/jobs?q=Data+Scientist&l=Irvine%2C+CA&radius=100&start=10'
# url = 'https://www.indeed.com/jobs?q=Data+Scientist&l=Irvine%2C+CA&radius=100&start=20'
# url = 'https://www.indeed.com/jobs?q=Data+Scientist&l=Irvine%2C+CA&radius=100&start=30'
url = 'https://www.indeed.com/jobs?q=Data+Scientist&l=Irvine%2C+CA&radius=100&start=40'







browser.visit(url)

In [209]:
#BeautifulSoup Parser
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [210]:
#result to return the job title
titles = soup.find_all("h2", class_ = "title")
print(titles)
#title[1].get_text()

[<h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=7c77ea2aedef6026&amp;fccid=5de9d247fbec65f0&amp;vjs=3" id="jl_7c77ea2aedef6026" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[0],true,0);" onmousedown="return rclk(this,jobmap[0],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=7addb8dd3c626285&amp;fccid=6416f1dd441966d8&amp;vjs=3" id="jl_7addb8dd3c626285" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[1],true,0);" onmousedown="return rclk(this,jobmap[1],0);" rel="noopener nofollow" target="_blank" title="Dashboard &amp; Analytics Internship">
Dashboard &amp; Analytics Internship</a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=8f45695b8a3ca581&amp;fccid=ed99aaf8dbd5fcca&amp;vjs=3" id="jl_8f45695b8a3ca581" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[2],true,0);" onmousedown="return rclk(this,jobmap[2],0);" rel="noopener nofollow" target="_blank" title="Senior Data Scientist">
Senior <b>Data</b> <b>Scientist</b></a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=0354698e1f5e1be6&amp;fccid=6f49e88f14c18b75&amp;vjs=3" id="jl_0354698e1f5e1be6" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[3],true,0);" onmousedown="return rclk(this,jobmap[3],0);" rel="noopener nofollow" target="_blank" title="VP, Global Data &amp; Analytics - Antech">
VP, Global <b>Data</b> &amp; Analytics - Antech</a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=43f7a8c3a5f3e51d&amp;fccid=ba923b146fa75d0d&amp;vjs=3" id="jl_43f7a8c3a5f3e51d" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[4],true,0);" onmousedown="return rclk(this,jobmap[4],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=3c2af2195ea6ed05&amp;fccid=4556f01692e426ec&amp;vjs=3" id="jl_3c2af2195ea6ed05" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[5],true,0);" onmousedown="return rclk(this,jobmap[5],0);" rel="noopener nofollow" target="_blank" title="Data Science &amp; Analytics Intern">
<b>Data</b> Science &amp; Analytics Intern</a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=2d164c7658025507&amp;fccid=24a3456d3ce2ad08&amp;vjs=3" id="jl_2d164c7658025507" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[6],true,0);" onmousedown="return rclk(this,jobmap[6],0);" rel="noopener nofollow" target="_blank" title="Senior Data Scientist">
Senior <b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0ClvsRMZZYbWkncYKklQZhomgGvtzxN2NDL0Yep_oEtFRBSc398mSurUi9Mojk8piotSC2PSZRInoSzr1xGWXSfDz2LBud_4KDKzYc1AkZcQvUFu_cHfiFPOuyB0Fiw1LV_R-XynAAlKSIM7J0Ac3sHU8RW4C0z7tw0Groyqcevq0Oi4MQP8fC2_tLyMI9HjGRsUVTADu9rqmJdHmgeuBWedJQVTDshGQG_AvrBo7DEbwtZ8Eb7-D8OuO9owS3AhYlNJehXh5AU_VB5Zdn7_F9yN_kDxsCN2dPyJ5ghGc5kbfZ6EtHn1U6ro6pO2NIpgU6bV3r9_NX0KtfQr90HOusIKQZ-hznki2oEraG75iEhlRAOEYLYv0Lka6Uu7CFe1B0tg-r6M4TDuA==&amp;p=7&amp;fvj=0&amp;vjs=3" id="sja7" onclick="setRefineByCookie(['radius']); sjoc('sja7', 0); convCtr('SJ'); rclk(this,jobmap[7],true,0);" onmousedown="sjomd('sja7'); clk('sja7'); rclk(this,jobmap[7],0);" rel="noopener nofollow" target="_blank" title="Senior Technical Data Analyst">
Senior Technical <b>Data</b> Analyst</a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=e07551ce3a7434f3&amp;fccid=23f9c479909d707c&amp;vjs=3" id="jl_e07551ce3a7434f3" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[8],true,1);" onmousedown="return rclk(this,jobmap[8],1);" rel="noopener nofollow" target="_blank" title="Senior Data Analyst">
Senior <b>Data</b> Analyst</a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=7dc62b5bcfe64d27&amp;fccid=750bb2e27e97e3c1&amp;vjs=3" id="jl_7dc62b5bcfe64d27" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[9],true,0);" onmousedown="return rclk(this,jobmap[9],0);" rel="noopener nofollow" target="_blank" title="Staff Data Scientist – Global Payments &amp; Fraud Management">
Staff <b>Data</b> <b>Scientist</b> – Global Payments &amp; Fraud Management</a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=af46ec7e37987830&amp;fccid=eadf4bd37a227a4f&amp;vjs=3" id="jl_af46ec7e37987830" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[10],true,0);" onmousedown="return rclk(this,jobmap[10],0);" rel="noopener nofollow" target="_blank" title="Data Science Intern">
<b>Data</b> Science Intern</a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=448063cff7fc56fd&amp;fccid=c1099851e9794854&amp;vjs=3" id="jl_448063cff7fc56fd" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[11],true,0);" onmousedown="return rclk(this,jobmap[11],0);" rel="noopener nofollow" target="_blank" title="Machine Learning Engineer, AMP Analytics &amp; Data Products">
Machine Learning Engineer, AMP Analytics &amp; <b>Data</b> Products</a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=ba3ffdef60de7981&amp;fccid=3df6032cb81491f6&amp;vjs=3" id="jl_ba3ffdef60de7981" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[12],true,0);" onmousedown="return rclk(this,jobmap[12],0);" rel="noopener nofollow" target="_blank" title="Data Scientist - Product">
<b>Data</b> <b>Scientist</b> - Product</a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=499322a79835ffee&amp;fccid=9784ae78e9834539&amp;vjs=3" id="jl_499322a79835ffee" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[13],true,0);" onmousedown="return rclk(this,jobmap[13],0);" rel="noopener nofollow" target="_blank" title="Senior Data Analyst">
Senior <b>Data</b> Analyst</a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=22f766270a5a5ac3&amp;fccid=e2c3b3361dcb3632&amp;vjs=3" id="jl_22f766270a5a5ac3" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[14],true,0);" onmousedown="return rclk(this,jobmap[14],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
</h2>]

In [211]:
#result to be Returned as an iterable list
for title in titles:
    job_title = title.get_text()
    print(job_title)

Data Scientist



Dashboard & Analytics Internship



Senior Data Scientist
new


VP, Global Data & Analytics - Antech



Data Scientist



Data Science & Analytics Intern



Senior Data Scientist



Senior Technical Data Analyst
new


Senior Data Analyst



Staff Data Scientist – Global Payments & Fraud Management
new


Data Science Intern



Machine Learning Engineer, AMP Analytics & Data Products
new


Data Scientist - Product



Senior Data Analyst
new


Data Scientist

In [212]:

try:
    dismiss = browser.find_by_xpath('/html/body/div[2]/div/section/div/div[2]')
    more_jobs = browser.find_by_xpath('/html/body/table[2]/tbody/tr/td/table/tbody/tr/td[1]/nav/div/ul/li[6]/a/span')
    no_thanks = browser.find_by_xpath('/html/body/div[3]/div[2]/div[4]/div[3]/div[2]/a')
    dismiss.first.click()
    more_jobs.first.click()
    no_thanks.first.click()
except:
    print("not found")

not found

In [213]:
#Empty list to append the the result and index 0 is an int 
job_titles = [0]
 
 #loop through the result    
for x in range(1, 2):
    titles = soup.find_all("h2", class_ = "title")
    for title in titles:
        job_titles.append(title.text)
        print('page:', x, '-------------')
        print(title.text)
        browser.find_by_xpath('/html/body/table[2]/tbody/tr/td/table/tbody/tr/td[1]/nav/div/ul/li[6]/a/span/span')

page: 1 -------------


Data Scientist

page: 1 -------------


Dashboard & Analytics Internship

page: 1 -------------


Senior Data Scientist
new
page: 1 -------------


VP, Global Data & Analytics - Antech

page: 1 -------------


Data Scientist

page: 1 -------------


Data Science & Analytics Intern

page: 1 -------------


Senior Data Scientist

page: 1 -------------


Senior Technical Data Analyst
new
page: 1 -------------


Senior Data Analyst

page: 1 -------------


Staff Data Scientist – Global Payments & Fraud Management
new
page: 1 -------------


Data Science Intern

page: 1 -------------


Machine Learning Engineer, AMP Analytics & Data Products
new
page: 1 -------------


Data Scientist - Product

page: 1 -------------


Senior Data Analyst
new
page: 1 -------------


Data Scientist

In [214]:
#Use replace to print out a clean job title
clean_job_titles = []

#loop through result
for job in job_titles[1:]:
    clean_job_title = job.replace('\n', '')
    clean_job_titles.append(clean_job_title)

In [215]:
#print clean job titles to check
print(clean_job_titles)

['Data Scientist', 'Dashboard & Analytics Internship', 'Senior Data Scientistnew', 'VP, Global Data & Analytics - Antech', 'Data Scientist', 'Data Science & Analytics Intern', 'Senior Data Scientist', 'Senior Technical Data Analystnew', 'Senior Data Analyst', 'Staff Data Scientist – Global Payments & Fraud Managementnew', 'Data Science Intern', 'Machine Learning Engineer, AMP Analytics & Data Productsnew', 'Data Scientist - Product', 'Senior Data Analystnew', 'Data Scientist']

In [216]:
#result to return the job locations
locations = soup.find_all("span", class_ = "location accessible-contrast-color-location")
locations

[<span class="location accessible-contrast-color-location">Los Angeles, CA</span>,
 <span class="location accessible-contrast-color-location">Los Angeles, CA</span>,
 <span class="location accessible-contrast-color-location">Los Angeles, CA</span>,
 <span class="location accessible-contrast-color-location">Fountain Valley, CA</span>,
 <span class="location accessible-contrast-color-location">El Segundo, CA 90245</span>,
 <span class="location accessible-contrast-color-location">Carlsbad, CA 92008 <span style="font-size: smaller">(North Beach area)</span></span>,
 <span class="location accessible-contrast-color-location">San Diego, CA 92123 <span style="font-size: smaller">(Kearny Mesa area)</span></span>,
 <span class="location accessible-contrast-color-location">Los Angeles County, CA</span>,
 <span class="location accessible-contrast-color-location">San Diego, CA</span>,
 <span class="location accessible-contrast-color-location">San Diego, CA 92121 <span style="font-size: smaller">(Sorrento Valley area)</span></span>,
 <span class="location accessible-contrast-color-location">Culver City, CA</span>,
 <span class="location accessible-contrast-color-location">Los Angeles, CA 90067 <span style="font-size: smaller">(Century City area)</span></span>,
 <span class="location accessible-contrast-color-location">San Diego, CA 92112</span>,
 <span class="location accessible-contrast-color-location">Woodland Hills, CA 91367</span>]

In [217]:
#Empty list to append the result
job_locations = []


#loop through the returned result
for x in range(1, 2):
    locations = soup.find_all("span", class_ = "location accessible-contrast-color-location")
    for location in locations:
        job_locations.append(location.text)
        print('page:', x, '-------------')
        print(location.text)
        browser.find_by_xpath('/html/body/table[2]/tbody/tr/td/table/tbody/tr/td[1]/div[7]/div[1]/span[1]')

page: 1 -------------
Los Angeles, CA
page: 1 -------------
Los Angeles, CA
page: 1 -------------
Los Angeles, CA
page: 1 -------------
Fountain Valley, CA
page: 1 -------------
El Segundo, CA 90245
page: 1 -------------
Carlsbad, CA 92008 (North Beach area)
page: 1 -------------
San Diego, CA 92123 (Kearny Mesa area)
page: 1 -------------
Los Angeles County, CA
page: 1 -------------
San Diego, CA
page: 1 -------------
San Diego, CA 92121 (Sorrento Valley area)
page: 1 -------------
Culver City, CA
page: 1 -------------
Los Angeles, CA 90067 (Century City area)
page: 1 -------------
San Diego, CA 92112
page: 1 -------------
Woodland Hills, CA 91367

In [218]:
#print job locations
print(job_locations)
browser.quit()

['Los Angeles, CA', 'Los Angeles, CA', 'Los Angeles, CA', 'Fountain Valley, CA', 'El Segundo, CA 90245', 'Carlsbad, CA 92008 (North Beach area)', 'San Diego, CA 92123 (Kearny Mesa area)', 'Los Angeles County, CA', 'San Diego, CA', 'San Diego, CA 92121 (Sorrento Valley area)', 'Culver City, CA', 'Los Angeles, CA 90067 (Century City area)', 'San Diego, CA 92112', 'Woodland Hills, CA 91367']

In [219]:
#zip both result into a list
new_list = list(zip(clean_job_titles, job_locations))

In [220]:
#print new_list that has both the job_titiles and locations
print(new_list)

[('Data Scientist', 'Los Angeles, CA'), ('Dashboard & Analytics Internship', 'Los Angeles, CA'), ('Senior Data Scientistnew', 'Los Angeles, CA'), ('VP, Global Data & Analytics - Antech', 'Fountain Valley, CA'), ('Data Scientist', 'El Segundo, CA 90245'), ('Data Science & Analytics Intern', 'Carlsbad, CA 92008 (North Beach area)'), ('Senior Data Scientist', 'San Diego, CA 92123 (Kearny Mesa area)'), ('Senior Technical Data Analystnew', 'Los Angeles County, CA'), ('Senior Data Analyst', 'San Diego, CA'), ('Staff Data Scientist – Global Payments & Fraud Managementnew', 'San Diego, CA 92121 (Sorrento Valley area)'), ('Data Science Intern', 'Culver City, CA'), ('Machine Learning Engineer, AMP Analytics & Data Productsnew', 'Los Angeles, CA 90067 (Century City area)'), ('Data Scientist - Product', 'San Diego, CA 92112'), ('Senior Data Analystnew', 'Woodland Hills, CA 91367')]

In [221]:
#append list into a python dictionary
updated_list = dict(new_list)
updated_list

{'Data Scientist': 'El Segundo, CA 90245',
 'Dashboard & Analytics Internship': 'Los Angeles, CA',
 'Senior Data Scientistnew': 'Los Angeles, CA',
 'VP, Global Data & Analytics - Antech': 'Fountain Valley, CA',
 'Data Science & Analytics Intern': 'Carlsbad, CA 92008 (North Beach area)',
 'Senior Data Scientist': 'San Diego, CA 92123 (Kearny Mesa area)',
 'Senior Technical Data Analystnew': 'Los Angeles County, CA',
 'Senior Data Analyst': 'San Diego, CA',
 'Staff Data Scientist – Global Payments & Fraud Managementnew': 'San Diego, CA 92121 (Sorrento Valley area)',
 'Data Science Intern': 'Culver City, CA',
 'Machine Learning Engineer, AMP Analytics & Data Productsnew': 'Los Angeles, CA 90067 (Century City area)',
 'Data Scientist - Product': 'San Diego, CA 92112',
 'Senior Data Analystnew': 'Woodland Hills, CA 91367'}

In [222]:
#append colums keys
New_job_location_df = pd.DataFrame(new_list, columns=['Job_Title', 'Location'])
New_job_location_df

,Job_Title,Location
0,Data Scientist,"Los Angeles, CA"
1,Dashboard & Analytics Internship,"Los Angeles, CA"
2,Senior Data Scientistnew,"Los Angeles, CA"
3,"VP, Global Data & Analytics - Antech","Fountain Valley, CA"
4,Data Scientist,"El Segundo, CA 90245"
5,Data Science & Analytics Intern,"Carlsbad, CA 92008 (North Beach area)"
6,Senior Data Scientist,"San Diego, CA 92123 (Kearny Mesa area)"
7,Senior Technical Data Analystnew,"Los Angeles County, CA"
8,Senior Data Analyst,"San Diego, CA"
9,Staff Data Scientist – Global Payments & Fraud...,"San Diego, CA 92121 (Sorrento Valley area)"
10,Data Science Intern,"Culver City, CA"
11,"Machine Learning Engineer, AMP Analytics & Dat...","Los Angeles, CA 90067 (Century City area)"
12,Data Scientist - Product,"San Diego, CA 92112"
13,Senior Data Analystnew,"Woodland Hills, CA 91367"

In [223]:
New_job_location_df['City'] = New_job_location_df['Location'].str.split(',').str[0]

In [224]:
New_job_location_df['Lat'] = ''
New_job_location_df['Lng'] = ''

In [225]:
New_job_location_df

,Job_Title,Location,City,Lat,Lng
0,Data Scientist,"Los Angeles, CA",Los Angeles,,
1,Dashboard & Analytics Internship,"Los Angeles, CA",Los Angeles,,
2,Senior Data Scientistnew,"Los Angeles, CA",Los Angeles,,
3,"VP, Global Data & Analytics - Antech","Fountain Valley, CA",Fountain Valley,,
4,Data Scientist,"El Segundo, CA 90245",El Segundo,,
5,Data Science & Analytics Intern,"Carlsbad, CA 92008 (North Beach area)",Carlsbad,,
6,Senior Data Scientist,"San Diego, CA 92123 (Kearny Mesa area)",San Diego,,
7,Senior Technical Data Analystnew,"Los Angeles County, CA",Los Angeles County,,
8,Senior Data Analyst,"San Diego, CA",San Diego,,
9,Staff Data Scientist – Global Payments & Fraud...,"San Diego, CA 92121 (Sorrento Valley area)",San Diego,,
10,Data Science Intern,"Culver City, CA",Culver City,,
11,"Machine Learning Engineer, AMP Analytics & Dat...","Los Angeles, CA 90067 (Century City area)",Los Angeles,,
12,Data Scientist - Product,"San Diego, CA 92112",San Diego,,
13,Senior Data Analystnew,"Woodland Hills, CA 91367",Woodland Hills,,

In [226]:
for index, row in New_job_location_df.iterrows():
    city = row['City']
    base_url = "https://api.mapbox.com/geocoding/v5/mapbox.places/"
    response = requests.get(f'{base_url}{city}.json?access_token={api_key}').json()
    
    try:
        print(f'Retrieving location data for {city}')
        New_job_location_df.loc[index, 'Lat'] = response['features'][0]['geometry']['coordinates'][1]
        New_job_location_df.loc[index, 'Lng'] = response['features'][0]['geometry']['coordinates'][0]
    except(KeyError, IndexError):
        print('Missing data')

Retrieving location data for Los Angeles
Retrieving location data for Los Angeles
Retrieving location data for Los Angeles
Retrieving location data for Fountain Valley
Retrieving location data for El Segundo
Retrieving location data for Carlsbad
Retrieving location data for San Diego
Retrieving location data for Los Angeles County
Retrieving location data for San Diego
Retrieving location data for San Diego
Retrieving location data for Culver City
Retrieving location data for Los Angeles
Retrieving location data for San Diego
Retrieving location data for Woodland Hills

In [227]:
New_job_location_df

,Job_Title,Location,City,Lat,Lng
0,Data Scientist,"Los Angeles, CA",Los Angeles,34.0544,-118.244
1,Dashboard & Analytics Internship,"Los Angeles, CA",Los Angeles,34.0544,-118.244
2,Senior Data Scientistnew,"Los Angeles, CA",Los Angeles,34.0544,-118.244
3,"VP, Global Data & Analytics - Antech","Fountain Valley, CA",Fountain Valley,33.7038,-117.963
4,Data Scientist,"El Segundo, CA 90245",El Segundo,33.9122,-118.383
5,Data Science & Analytics Intern,"Carlsbad, CA 92008 (North Beach area)",Carlsbad,33.1581,-117.351
6,Senior Data Scientist,"San Diego, CA 92123 (Kearny Mesa area)",San Diego,32.7174,-117.163
7,Senior Technical Data Analystnew,"Los Angeles County, CA",Los Angeles County,34.0632,-118.359
8,Senior Data Analyst,"San Diego, CA",San Diego,32.7174,-117.163
9,Staff Data Scientist – Global Payments & Fraud...,"San Diego, CA 92121 (Sorrento Valley area)",San Diego,32.7174,-117.163
10,Data Science Intern,"Culver City, CA",Culver City,34.0211,-118.397
11,"Machine Learning Engineer, AMP Analytics & Dat...","Los Angeles, CA 90067 (Century City area)",Los Angeles,34.0544,-118.244
12,Data Scientist - Product,"San Diego, CA 92112",San Diego,32.7174,-117.163
13,Senior Data Analystnew,"Woodland Hills, CA 91367",Woodland Hills,34.1683,-118.606

In [228]:
# test_city = 'Irvine'
# base_url = "https://api.mapbox.com/geocoding/v5/mapbox.places/"
# search = base_url + test_city + '.json?access_token=' + api_key

# response = requests.get(search).json()
# response


# lat = response['features'][0]['geometry']['coordinates'][1]
# lng = response['features'][0]['geometry']['coordinates'][0]
# print(lat)
# print(lng)

In [229]:
New_job_location_df['job_type'] = 'Data Scientist'

In [230]:
New_job_location_df

,Job_Title,Location,City,Lat,Lng,job_type
0,Data Scientist,"Los Angeles, CA",Los Angeles,34.0544,-118.244,Data Scientist
1,Dashboard & Analytics Internship,"Los Angeles, CA",Los Angeles,34.0544,-118.244,Data Scientist
2,Senior Data Scientistnew,"Los Angeles, CA",Los Angeles,34.0544,-118.244,Data Scientist
3,"VP, Global Data & Analytics - Antech","Fountain Valley, CA",Fountain Valley,33.7038,-117.963,Data Scientist
4,Data Scientist,"El Segundo, CA 90245",El Segundo,33.9122,-118.383,Data Scientist
5,Data Science & Analytics Intern,"Carlsbad, CA 92008 (North Beach area)",Carlsbad,33.1581,-117.351,Data Scientist
6,Senior Data Scientist,"San Diego, CA 92123 (Kearny Mesa area)",San Diego,32.7174,-117.163,Data Scientist
7,Senior Technical Data Analystnew,"Los Angeles County, CA",Los Angeles County,34.0632,-118.359,Data Scientist
8,Senior Data Analyst,"San Diego, CA",San Diego,32.7174,-117.163,Data Scientist
9,Staff Data Scientist – Global Payments & Fraud...,"San Diego, CA 92121 (Sorrento Valley area)",San Diego,32.7174,-117.163,Data Scientist
10,Data Science Intern,"Culver City, CA",Culver City,34.0211,-118.397,Data Scientist
11,"Machine Learning Engineer, AMP Analytics & Dat...","Los Angeles, CA 90067 (Century City area)",Los Angeles,34.0544,-118.244,Data Scientist
12,Data Scientist - Product,"San Diego, CA 92112",San Diego,32.7174,-117.163,Data Scientist
13,Senior Data Analystnew,"Woodland Hills, CA 91367",Woodland Hills,34.1683,-118.606,Data Scientist

In [231]:
#Define database and collection
#Database = Indeed_db
#Collections = Data_jobs
client.Indeed_db.Data_jobs.insert_many(New_job_location_df.to_dict('records'))

In [232]:
#Done