In [11]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import pymongo

In [12]:
#executable path for window users
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)

In [13]:
#Executable path for Mac Users
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [14]:
#url of page to be scrapped from indeed 
url = 'https://www.indeed.com/jobs?q=Data+Scientist&l=Irvine%2C+CA&radius=100'
browser.visit(url)

In [15]:
#BeautifulSoup Parser
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [16]:
titles = soup.find_all("h2", class_ = "title")
print(titles)
#title[1].get_text()

[<h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0BXAOYzx_YkAlFqp5NttNUQWFWrhtqIcwA7ob6IMhCMIpzimKaIyxmOJI5u3gTB4XTZFwEvmax7B5azATMUaorzHlDPqwbgQrnw6AUz5he1z9zbysUUOtdn0dgxFwUm0tiwX--GI2vgdu5oG59qgmukjcFntjvnesHbXreC5FbT4pHPtqUx5-qzHwXTphvt9-73nb9Bn65T2FVNWqZ0wLFhykhU3_7MeSlfQlLiSvrJRfExPDAr5EOEoJvCDzBjASIJ41BmTRlxIPIlahm1tRjIoi0tCjN7OVmcGFVofJEvpMV3RodV5J5VStwzRrIUAOFayEDBCHWnnbLZFXaJOF39H_tRpgdVRDPUcFZXU6uCSLu_ZirQMWll7dH33QiE8WPqG4Cv5l0jcFEKZbCvvPo7zJOvthSpQ84Exm1CI79ZGor3LBKvh9C2M1LNGLhMACX2MchkpXZRSckbwqoYOVDK&amp;p=0&amp;fvj=1&amp;vjs=3" id="sja0" onclick="setRefineByCookie(['radius']); sjoc('sja0', 1); convCtr('SJ'); rclk(this,jobmap[0],true,1);" onmousedown="sjomd('sja0'); clk('sja0'); rclk(this,jobmap[0],1);" rel="noopener nofollow" target="_blank" title="Medical Data Analyst">
Medical <b>Data</b> Analyst</a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0AnQhcI30S35noZYX7fptC9JHDBVuSQzNzWdPUWRF9nG_TgfFeJcuyvoA_Dmg8a2SWU0CWz29S6MT30H2yhzzsBpPN9y0B6egimIjGTLXX1oUyXsUX7-ksrT2fHw1ZxE675VWanqeqU3t9LUAatd_nATymTC1UVJ8jmJ9jwNZRqU9bxTVQbyXtE6MBh3DS386zEws7eOPRq_kdPkzhmtWksU3lc27bJ6DSeyXv5LSCRrE7ACrd3iw3WrFgPKDbEsoC_w_gQLkSOxjo7BiJKJcdkHMOAtljZfq4kQ8KNUE4kNCI9lumNFpw-SaT_rEqqEykdDdq73HFjZRGVaGNVmuj5v8w9bcNLHuoGLHqExlh0Dt9Yy3Gmn47cRLbWICN47tEDGTTNWxZoS7GZTI9xENLZ_nGC2L6373pOZGCx4PdoygARM1pJxO3_RQhfFH9_UcPNOUh45WrDLvNjzlmCcoA6&amp;p=1&amp;fvj=1&amp;vjs=3" id="sja1" onclick="setRefineByCookie(['radius']); sjoc('sja1', 1); convCtr('SJ'); rclk(this,jobmap[1],true,1);" onmousedown="sjomd('sja1'); clk('sja1'); rclk(this,jobmap[1],1);" rel="noopener nofollow" target="_blank" title="Educational Data Scientist">
Educational <b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0AMr11YIOo206dX9CE572HoIBzjTozchv3QrfVeNVhstmAbPwFeZPDdH5w4MW3uUm59zxvwZmewuUare5btROGxqWx-_fSqJeoXHzgLaa8yIT3c-7Q_Qgpv8mTModHRHthZsuQggKKJ9TnHriBpY7kvmeTBHlvkjXeCuKGqTWnOLk1Ejk3aguHu1b19vDCrqhrXizYrFHTxPh1IK9NTkhNKfo08vZLTAfkBu0NHjfWwi-LO76QgzOzGxWALKjLT9XjfYlqJMeRnFPJltpi-D-geHj81OkIWTrU2zfebY1Yw8TfHHAiXCfvnkLth_fXVfQpP4DjBgKTgJsQc83UGrHa6vpU7rXdVUq8LgMwL7pJOQYejDHT_kHW7IqyNaPAzlDrVBCZOqE6DHUCbJABo99LjKEXr4dC_RKlvU2MOhOGxdVxjvyKMvXihmhR6YxuLchEs6B_BDgPsudshVRzCgV-Y1Ka48K04KaxCxtFZwJLtDD9wOB4sH6UHdwjTYafbMkk=&amp;p=2&amp;fvj=1&amp;vjs=3" id="sja2" onclick="setRefineByCookie(['radius']); sjoc('sja2', 1); convCtr('SJ'); rclk(this,jobmap[2],true,1);" onmousedown="sjomd('sja2'); clk('sja2'); rclk(this,jobmap[2],1);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/company/Mobile-Programming/jobs/Data-Scientist-df4e6af65c173ecb?fccid=d0377b42bd69efd8&amp;vjs=3" id="jl_df4e6af65c173ecb" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[3],true,0);" onmousedown="return rclk(this,jobmap[3],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0ARICpNo1DhGqfodICOss3ZS6QdhS5AHh5hrs_CHOPYqyMBbpKreu8_0VPK2YpEpLb7SP_jCPf9rMl-tji6wEOqH5doeTUBgegfmXM1QTZGoDB_TpfZwCCOsiYD27LSHIsZeuJoaBzGhS4GXN3jleH1b1A4yI1tlugBLdHrwnRyHhG6tkalKINEwJXmS76CnvYQzHSQ7Un_1pjl3PLhujVVITueTKY6J3JmyuVdnhBVYmGrLdRjoZytBLXXLmptvcfOBDWn2EAMwEfTdMN-4HNpulZEh_iEMSgZqvuy7h43FkGXFujFiawI06ufajtVAyyUNzvP6PFRRrHIQadnbvYMDzZiA1640IliOsiVUkpi1w4h2P9aeHt1agiOS_TBPTlVJIys0lbBLBN-Ub_sbbodkEZ2fdJKmHUT5FJgurPeVgwi7HQymXlyM2ahBZ8knSg60LfHGpoIDuYTwWnIyLWFceFwPlTD4zPbhvl5N6xSTim_HrH58esrWoBfGSckW_FYDzBH0JzQRZSGnMdnp3Dx8qKHoFV-8habnqaWr6taTJqmZtIiFiub1_UqyqTfHJ5Pb25vNadP5piWpxqFC7tr4h1uyvopt_-bdEY_qi36XrEgvTyIzmdnliMZmvTDuudH9YE_TRx5-t9mJo4aF2NDaQffL_zJ-a-bQmH1YBshRL6meFM6-jxZBk9koc_RUSC8SBH2c9M6uw==&amp;p=4&amp;fvj=0&amp;vjs=3" id="sja4" onclick="setRefineByCookie(['radius']); sjoc('sja4', 1); convCtr('SJ'); rclk(this,jobmap[4],true,1);" onmousedown="sjomd('sja4'); clk('sja4'); rclk(this,jobmap[4],1);" rel="noopener nofollow" target="_blank" title="Senior Data Scientist, Marketing">
Senior <b>Data</b> <b>Scientist</b>, Marketing</a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/company/GradTests/jobs/Data-Scientist-61369985007480f5?fccid=3b57c72e54f9233d&amp;vjs=3" id="jl_61369985007480f5" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[5],true,1);" onmousedown="return rclk(this,jobmap[5],1);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/company/Competitive-Analytics/jobs/Accounting-Finance-Data-Scientist-170c9b75f9736574?fccid=4162bb76db63f003&amp;vjs=3" id="jl_170c9b75f9736574" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[6],true,1);" onmousedown="return rclk(this,jobmap[6],1);" rel="noopener nofollow" target="_blank" title="Accounting Finance Data Scientist">
Accounting Finance <b>Data</b> <b>Scientist</b></a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=8c14ad33311ec5b3&amp;fccid=87d7af0ec9cd5df0&amp;vjs=3" id="jl_8c14ad33311ec5b3" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[7],true,0);" onmousedown="return rclk(this,jobmap[7],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=539843aa92aaf8ce&amp;fccid=a23e5e2f20b1aac4&amp;vjs=3" id="jl_539843aa92aaf8ce" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[8],true,0);" onmousedown="return rclk(this,jobmap[8],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=e48719183cfe2f66&amp;fccid=ba0b4ef452449c10&amp;vjs=3" id="jl_e48719183cfe2f66" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[9],true,0);" onmousedown="return rclk(this,jobmap[9],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=a2e9b786626bdcf5&amp;fccid=5eaae7a6faec1749&amp;vjs=3" id="jl_a2e9b786626bdcf5" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[10],true,0);" onmousedown="return rclk(this,jobmap[10],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0BKkHZu3wF05EeDimN_p6sYpKCMArvwa95YdH7UpkaBCoSUOkIYlUzf1Pb6Z78DI6NlwRD7J0K61uOQxqeKLogdvIOe9LZITiH3VT6rVpuE_mu9vPUHJtA6PjEz8UmgdlwNab9eySn62Dr58fiDwBur57PEKNDZKFB1gjNhE9t4CiMbC9aYARqEy8mUQvdgMOLZBBfFOcZXrJfaGoEnHuPLYcEtGO4k6olLwFh2av8zN4HuBhiWobkVDMNVlF27PAG7GlYvcthtQgBj5TkEiEmmByb_eIt-T2Pdqm8MIKju3QtHIw81aphjzqqQchAFL6C2ZDoPKhMfp26SEHhGkgiCDyuqnV6fPsMgjFfzJNip_rzw6LL2fPucr2CEaXtzwb2u45t08CHCXrcRc5_rtHlLfYtPUJ5aLPA3qJuopOO6K15w1dbtIbtAEWL7LfQIzHWXMqt9v33N51thzbXHb4E_&amp;p=11&amp;fvj=1&amp;vjs=3" id="sja11" onclick="setRefineByCookie(['radius']); sjoc('sja11', 1); convCtr('SJ'); rclk(this,jobmap[11],true,1);" onmousedown="sjomd('sja11'); clk('sja11'); rclk(this,jobmap[11],1);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=6c396298b99f8fc9&amp;fccid=ca93cbd13ef8b478&amp;vjs=3" id="jl_6c396298b99f8fc9" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[12],true,0);" onmousedown="return rclk(this,jobmap[12],0);" rel="noopener nofollow" target="_blank" title="Product Data Scientist">
Product <b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=8fccd5560141cd7c&amp;fccid=3514e173cb2d063d&amp;vjs=3" id="jl_8fccd5560141cd7c" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[13],true,0);" onmousedown="return rclk(this,jobmap[13],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=30a3bcd7b43db91d&amp;fccid=3bcef03e34391ca8&amp;vjs=3" id="jl_30a3bcd7b43db91d" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[14],true,0);" onmousedown="return rclk(this,jobmap[14],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
</h2>]

In [29]:
#result to be Returned as an iterable list
for title in titles:
    job_title = title.get_text()
    print(job_title)

Medical Data Analyst



Educational Data Scientist



Data Scientist
new


Data Scientist
new


Senior Data Scientist, Marketing
new


Data Scientist



Accounting Finance Data Scientist
new


Data Scientist
new


Data Scientist



Data Scientist



Data Scientist



Data Scientist



Product Data Scientist



Data Scientist



Data Scientist

In [19]:
# dismiss = browser.find_by_xpath('/html/body/div[2]/div/section/div/div[2]')
# dismiss.first.click()

# more_jobs = browser.find_by_xpath('/html/body/table[2]/tbody/tr/td/table/tbody/tr/td[1]/nav/div/ul/li[6]/a/span')
# more_jobs.first.click()

# no_thanks = browser.find_by_xpath('/html/body/div[3]/div[2]/div[4]/div[3]/div[2]/a')
# no_thanks.first.click()

In [30]:
#Empty list to append the the result and index 0 is an int 
job_titles = [0]
 
for x in range(1, 2):
    titles = soup.find_all("h2", class_ = "title")
    for title in titles:
        job_titles.append(title.text)
        print('page:', x, '-------------')
        print(title.text)
        browser.find_by_xpath('/html/body/table[2]/tbody/tr/td/table/tbody/tr/td[1]/nav/div/ul/li[6]/a/span/span')

page: 1 -------------


Medical Data Analyst

page: 1 -------------


Educational Data Scientist

page: 1 -------------


Data Scientist
new
page: 1 -------------


Data Scientist
new
page: 1 -------------


Senior Data Scientist, Marketing
new
page: 1 -------------


Data Scientist

page: 1 -------------


Accounting Finance Data Scientist
new
page: 1 -------------


Data Scientist
new
page: 1 -------------


Data Scientist

page: 1 -------------


Data Scientist

page: 1 -------------


Data Scientist

page: 1 -------------


Data Scientist

page: 1 -------------


Product Data Scientist

page: 1 -------------


Data Scientist

page: 1 -------------


Data Scientist

In [22]:
len(job_titles)

16

In [32]:
#clean_job_titles = job_titles.strip
clean_job_titles = []

for job in job_titles[1:]:
    clean_job_title = job.replace('\n', '')
    clean_job_titles.append(clean_job_title)

In [33]:
print(clean_job_titles)

['Medical Data Analyst', 'Educational Data Scientist', 'Data Scientistnew', 'Data Scientistnew', 'Senior Data Scientist, Marketingnew', 'Data Scientist', 'Accounting Finance Data Scientistnew', 'Data Scientistnew', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Product Data Scientist', 'Data Scientist', 'Data Scientist']

In [34]:
locations = soup.find_all("span", class_ = "location accessible-contrast-color-location")
#locations

In [35]:
job_locations = []

for x in range(1, 2):
    locations = soup.find_all("span", class_ = "location accessible-contrast-color-location")
    for location in locations:
        job_locations.append(location.text)
        print('page:', x, '-------------')
        print(location.text)
        browser.find_by_xpath('/html/body/table[2]/tbody/tr/td/table/tbody/tr/td[1]/div[7]/div[1]/span[1]')

page: 1 -------------
Irvine, CA
page: 1 -------------
Los Angeles, CA
page: 1 -------------
Newport Beach, CA 92660
page: 1 -------------
Irvine, CA 92618 (East Industrial Complex area)
page: 1 -------------
Irvine, CA 92617 (Research Park area)
page: 1 -------------
Irvine, CA
page: 1 -------------
Irvine, CA 92617 (Research Park area)
page: 1 -------------
Ontario, CA
page: 1 -------------
Aliso Viejo, CA
page: 1 -------------
San Diego, CA 92127

In [36]:
print(job_locations)

['Irvine, CA', 'Los Angeles, CA', 'Newport Beach, CA 92660', 'Irvine, CA 92618 (East Industrial Complex area)', 'Irvine, CA 92617 (Research Park area)', 'Irvine, CA', 'Irvine, CA 92617 (Research Park area)', 'Ontario, CA', 'Aliso Viejo, CA', 'San Diego, CA 92127']

In [37]:
len(job_locations)

10

In [38]:
#zip both into a list
new_list = list(zip(clean_job_titles, job_locations))

In [39]:
#print new_list that has both the job_titiles and locations
print(new_list)

[('Medical Data Analyst', 'Irvine, CA'), ('Educational Data Scientist', 'Los Angeles, CA'), ('Data Scientistnew', 'Newport Beach, CA 92660'), ('Data Scientistnew', 'Irvine, CA 92618 (East Industrial Complex area)'), ('Senior Data Scientist, Marketingnew', 'Irvine, CA 92617 (Research Park area)'), ('Data Scientist', 'Irvine, CA'), ('Accounting Finance Data Scientistnew', 'Irvine, CA 92617 (Research Park area)'), ('Data Scientistnew', 'Ontario, CA'), ('Data Scientist', 'Aliso Viejo, CA'), ('Data Scientist', 'San Diego, CA 92127')]

In [40]:
#put list into a python dictionary
updated_list = dict(new_list)
updated_list

{'Medical Data Analyst': 'Irvine, CA',
 'Educational Data Scientist': 'Los Angeles, CA',
 'Data Scientistnew': 'Ontario, CA',
 'Senior Data Scientist, Marketingnew': 'Irvine, CA 92617 (Research Park area)',
 'Data Scientist': 'San Diego, CA 92127',
 'Accounting Finance Data Scientistnew': 'Irvine, CA 92617 (Research Park area)'}

In [41]:
#transfer to MongoDB
#CONNECT MONGO DB
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [42]:
#convert newliat to pandas dataframe
updated_list_df = pd.DataFrame(new_list)
updated_list_df

,0,1
0,Medical Data Analyst,"Irvine, CA"
1,Educational Data Scientist,"Los Angeles, CA"
2,Data Scientistnew,"Newport Beach, CA 92660"
3,Data Scientistnew,"Irvine, CA 92618 (East Industrial Complex area)"
4,"Senior Data Scientist, Marketingnew","Irvine, CA 92617 (Research Park area)"
5,Data Scientist,"Irvine, CA"
6,Accounting Finance Data Scientistnew,"Irvine, CA 92617 (Research Park area)"
7,Data Scientistnew,"Ontario, CA"
8,Data Scientist,"Aliso Viejo, CA"
9,Data Scientist,"San Diego, CA 92127"

In [43]:
New_job_location_df = pd.DataFrame(new_list, columns=['Job Title', 'Location'])
New_job_location_df

,Job Title,Location
0,Medical Data Analyst,"Irvine, CA"
1,Educational Data Scientist,"Los Angeles, CA"
2,Data Scientistnew,"Newport Beach, CA 92660"
3,Data Scientistnew,"Irvine, CA 92618 (East Industrial Complex area)"
4,"Senior Data Scientist, Marketingnew","Irvine, CA 92617 (Research Park area)"
5,Data Scientist,"Irvine, CA"
6,Accounting Finance Data Scientistnew,"Irvine, CA 92617 (Research Park area)"
7,Data Scientistnew,"Ontario, CA"
8,Data Scientist,"Aliso Viejo, CA"
9,Data Scientist,"San Diego, CA 92127"

In [44]:

#db = client.police_shootings_db
client.Indeed_db.data_jobs.insert_many(New_job_location_df.to_dict('records'))

In [49]:
#query database
# Data_jobs = db.data_job.find()
# print(Data_jobs)