In [98]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import pymongo

In [ ]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
url = 'https://www.indeed.com/jobs?q=Data+Scientist&l=Irvine%2C+CA&radius=100'
browser.visit(url)

In [ ]:
html = browser.html

In [ ]:
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
titles = soup.find_all("h2", class_ = "title")
print(titles)
#title[1].get_text()

In [ ]:
for title in titles:
    job_title = title.get_text()
    print(job_title)

In [ ]:
dismiss = browser.find_by_xpath('/html/body/div[2]/div/section/div/div[2]')
dismiss.first.click()

more_jobs = browser.find_by_xpath('/html/body/table[2]/tbody/tr/td/table/tbody/tr/td[1]/nav/div/ul/li[6]/a/span')
more_jobs.first.click()

no_thanks = browser.find_by_xpath('/html/body/div[3]/div[2]/div[4]/div[3]/div[2]/a')
no_thanks.first.click()

In [ ]:
# more_titles = []
# while (True):  
#     try:
#         titles = soup.find_all("h2", class_ = "title")
#         more_titles.append(titles)
#         print(titles)
#         print(len(titles))
#         if len(more_titles) >=100:
#             break
#         more_jobs = browser.find_by_xpath('/html/body/table[2]/tbody/tr/td/table/tbody/tr/td[1]/nav/div/ul/li[6]/a/span')
#         more_jobs.first.click()
#     except:
#         pass
# print("found " + str(len(titles)))
# for title in titles:
#     job_title = title.get_text()
#     print(job_title)

job_titles = [0]
 
for x in range(1, 2):
    titles = soup.find_all("h2", class_ = "title")
    for title in titles:
        job_titles.append(title.text)
        print('page:', x, '-------------')
        print(title.text)
        browser.find_by_xpath('/html/body/table[2]/tbody/tr/td/table/tbody/tr/td[1]/nav/div/ul/li[6]/a/span/span')

In [83]:
#clean_job_titles = job_titles.strip
clean_job_titles = []

for job in job_titles[1:]:
    clean_job_title = job.replace('\n', '')
    clean_job_titles.append(clean_job_title)

In [84]:
print(clean_job_titles)

['Data Scientistnew', 'Senior Data Scientistnew', 'Staff Data Scientist - Analyticsnew', 'Staff Data Scientistnew', 'Data Scientistnew', 'Data Scientist', 'Data Scientistnew', 'Data Scientist', 'Data Scientist', 'Educational Data Scientist', 'Accounting Finance Data Scientistnew', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist']

In [85]:
locations = soup.find_all("span", class_ = "location accessible-contrast-color-location")
location

In [86]:
job_locations = []

for x in range(1, 2):
    locations = soup.find_all("span", class_ = "location accessible-contrast-color-location")
    for location in locations:
        job_locations.append(location.text)
        print('page:', x, '-------------')
        print(location.text)
        browser.find_by_xpath('/html/body/table[2]/tbody/tr/td/table/tbody/tr/td[1]/div[7]/div[1]/span[1]')

page: 1 -------------
Irvine, CA
page: 1 -------------
Irvine, CA 92618 (East Industrial Complex area)
page: 1 -------------
Los Angeles, CA
page: 1 -------------
Irvine, CA
page: 1 -------------
Irvine, CA 92617 (Research Park area)
page: 1 -------------
Irvine, CA 92617 (Research Park area)
page: 1 -------------
Pasadena, CA 91101 (West Central area)
page: 1 -------------
Newport Beach, CA 92660
page: 1 -------------
San Diego, CA 92127
page: 1 -------------
Burbank, CA
page: 1 -------------
Santa Monica, CA 90404 (Mid-City area)
page: 1 -------------
Aliso Viejo, CA

In [87]:
print(job_locations)

['Irvine, CA', 'Irvine, CA 92618 (East Industrial Complex area)', 'Los Angeles, CA', 'Irvine, CA', 'Irvine, CA 92617 (Research Park area)', 'Irvine, CA 92617 (Research Park area)', 'Pasadena, CA 91101 (West Central area)', 'Newport Beach, CA 92660', 'San Diego, CA 92127', 'Burbank, CA', 'Santa Monica, CA 90404 (Mid-City area)', 'Aliso Viejo, CA']

In [88]:
new_list = list(zip(clean_job_titles, job_locations))

In [89]:
print(new_list)

[('Data Scientistnew', 'Irvine, CA'), ('Senior Data Scientistnew', 'Irvine, CA 92618 (East Industrial Complex area)'), ('Staff Data Scientist - Analyticsnew', 'Los Angeles, CA'), ('Staff Data Scientistnew', 'Irvine, CA'), ('Data Scientistnew', 'Irvine, CA 92617 (Research Park area)'), ('Data Scientist', 'Irvine, CA 92617 (Research Park area)'), ('Data Scientistnew', 'Pasadena, CA 91101 (West Central area)'), ('Data Scientist', 'Newport Beach, CA 92660'), ('Data Scientist', 'San Diego, CA 92127'), ('Educational Data Scientist', 'Burbank, CA'), ('Accounting Finance Data Scientistnew', 'Santa Monica, CA 90404 (Mid-City area)'), ('Data Scientist', 'Aliso Viejo, CA')]

In [90]:
updated_list = dict(new_list)
updated_list

{'Data Scientistnew': 'Pasadena, CA 91101 (West Central area)',
 'Senior Data Scientistnew': 'Irvine, CA 92618 (East Industrial Complex area)',
 'Staff Data Scientist - Analyticsnew': 'Los Angeles, CA',
 'Staff Data Scientistnew': 'Irvine, CA',
 'Data Scientist': 'Aliso Viejo, CA',
 'Educational Data Scientist': 'Burbank, CA',
 'Accounting Finance Data Scientistnew': 'Santa Monica, CA 90404 (Mid-City area)'}

In [91]:
#transfer to MongoDB

#CONNECT MONGO DB

conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [97]:
client.jobs_db.new_list.insert_many(new_list.to_dict('records'))

AttributeError: 'list' object has no attribute 'to_dict'