In [1]:
#import Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import pymongo 
import requests
from config import api_key

In [2]:
# #executable path for window users
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)

In [3]:
#Initialize pymongo to work with MongoDBs
#CONNECT MONGO DB
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [4]:
# Executable path for Mac Users
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [5]:
#url of page to be scrapped from indeed 
url = 'https://www.indeed.com/jobs?q=Data+Scientist&l=Irvine%2C+CA&radius=100'
browser.visit(url)

In [6]:
#BeautifulSoup Parser
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [7]:
#result to return the job title
titles = soup.find_all("h2", class_ = "title")
print(titles)
#title[1].get_text()

[<h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0AnQhcI30S35noZYX7fptC9JHDBVuSQzNzWdPUWRF9nG_TgfFeJcuyvoA_Dmg8a2SWU0CWz29S6MT30H2yhzzsBpPN9y0B6egimIjGTLXX1oUyXsUX7-ksrT2fHw1ZxE675VWanqeqU3t9LUAatd_nATymTC1UVJ8jmJ9jwNZRqU62Fs0b50ecCtTfvLY9p7TW29Rl2CKXw3nmjQo_1-VoO2eeba95p8_2_Ld1Lx04g3eh_MmR3hD1YCSwK_w1RexU2P5URinkm-Z3t715PSaCcoZ6n9Te5JAgOhrz4PvGSOYiYtRRIG1BH93JCJ3GgkZv7m_UWgKS5Lcku3YpEWVIE9Pr-biPegnRx4KsYzmxeAiC_U__xML8Qwk-BF8qzgecU9-HpA1ooSnbY1zywXuxscE_3GmpFYxW6rAioy9_N6FFfvTHrLBiQGiJOUaEU1CyFfiPw_QW9x0QDnqWa1Nue&amp;p=0&amp;fvj=1&amp;vjs=3" id="sja0" onclick="setRefineByCookie(['radius']); sjoc('sja0', 1); convCtr('SJ'); rclk(this,jobmap[0],true,1);" onmousedown="sjomd('sja0'); clk('sja0'); rclk(this,jobmap[0],1);" rel="noopener nofollow" target="_blank" title="Educational Data Scientist">
Educational <b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0AMr11YIOo206dX9CE572HoIBzjTozchv3QrfVeNVhstmAbPwFeZPDdH5w4MW3uUm59zxvwZmewuUare5btROGxqWx-_fSqJeoXHzgLaa8yIT3c-7Q_Qgpv8mTModHRHthZsuQggKKJ9TnHriBpY7kvmeTBHlvkjXeCuKGqTWnOLk1Ejk3aguHuIdDOdbGuaPFGIB0sL4hR1onXQpJMs5mFaca-h69XnqEZS_SdyKYRW4UV7swwgML8WafqxZcMJc28mZsOmW4gn6iKGtczl2FCRKM9-hrS_orcOV_a5Hn1PpAlVG1uVHIT0c1NiosVdb4-1gT6UT0zXfJ4klThSb_FlOuGgPhdHD0sXxttlAbMv5yjdJ4WDYauaK9cCxE2wAUweLQ2sQbO_iIJOhhazzwbwMz2T5W_vXRB_Ui8lPmb1AdCsEsS-WYubC-D7OUWYZW6K0sW8MSfYwqegRJFbzowEIJoAZIvrTWSabpn5A_lV3Lt_6HC9SNkk5VuZzQX64s=&amp;p=1&amp;fvj=1&amp;vjs=3" id="sja1" onclick="setRefineByCookie(['radius']); sjoc('sja1', 1); convCtr('SJ'); rclk(this,jobmap[1],true,1);" onmousedown="sjomd('sja1'); clk('sja1'); rclk(this,jobmap[1],1);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0BvQeUJ0cfNniX7CCgc4KydoCBbpnSCA7A18Rgk6d9TuQwfr8xUPdI-9H9njcVR5cezeh8s2wAHtKx_vlb3aaq5GbIrM3Eva384Ftljt-FkfHp0ilIKWefU4jrJhfoZ-Ky77DvrCBUsgCMZn3BnuHHLDgm4TuMhkFvD-2JvLblQSQCMZxDdMNlRXkV4uHnoFiiZtqX03bbawrJdMLlB0wzU-6Q95FqoWIj3JPv7qON2uZdMWBPVt8RH0HEdE4kv3KCpzkqKzZQSs4NDPqtWFizBzw23EEIFxYOAPMe7TOSDVskW8WoxkulHqgeE-5wiIf4rzEibJPdUfuG_4Vi3blxtprQ4zsQpXtrp0gGE2Mv7IHC_6m-lY9AAbzslFBKNOQ0elCXVOT-t7pwgkFpk0Y72v9oLyeYNfgJIRH2M3xrMa9nXd3CoEdyi9gSDXRFcCQ7jpjzzxtTCQUYGctXo16qQBhU1w8rwmGWbRUbxXOgDkOrIfVooPDA2EZmeylwtNcjWN-BWzUBoYnc_E-ukCYO1&amp;p=2&amp;fvj=1&amp;vjs=3" id="sja2" onclick="setRefineByCookie(['radius']); sjoc('sja2', 1); convCtr('SJ'); rclk(this,jobmap[2],true,1);" onmousedown="sjomd('sja2'); clk('sja2'); rclk(this,jobmap[2],1);" rel="noopener nofollow" target="_blank" title="Senior Health Data Analyst (Remote / Tableau experience required)">
Senior Health <b>Data</b> Analyst (Remote / Tableau experience requ...</a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0B2LP6KtwgLMWcIJbzQK4y118hUYa2NHT0ELzb4aR6nDrO9_32R0LtaBWE747wrez1jO6gtmyFNrsibpT5KPq7mqRSLiUEy57-2Tghrb3qP71vLr0MJ-5qbfn8ZuNHvwkxv8IOdLIJ62VmT4RZe-sHtY54CRnXL2jHCg3C_vrvr5ADwqd8oB4Il-hNJ9CrIY8wMajcWsMAEeKsCUAbVn2Y3FjcNojwynPqVQnQuX3y-FldJqcU8V7kc9CvpyckWu18fIsWz2ZIDz77bydwkPMMhntCmcTUoqI1eHvvXXk6O4D90iw1a7ensW9Uqy7whao09lbeVsz3oCnDQPggJGA_l3auDQJNWrhe3aonxMYJxg_SKVHUkJLJ1YnhnXtylMgWTb_i9xoIShI90LOt-zmzj_ZgJt4UcM_3hCFw955Hj-6M7jlKZCwfuMuBAf6KA7dRg-eBGmDdIQRM6Fgl7l8gWtKAc2_00Yypmhal0de1Mye1D_-4-eaJG&amp;p=3&amp;fvj=0&amp;vjs=3" id="sja3" onclick="setRefineByCookie(['radius']); sjoc('sja3', 0); convCtr('SJ'); rclk(this,jobmap[3],true,0);" onmousedown="sjomd('sja3'); clk('sja3'); rclk(this,jobmap[3],0);" rel="noopener nofollow" target="_blank" title="Deep Learning Research Scientist / Engineer (Deep Learning &amp; Algorithms)">
Deep Learning Research <b>Scientist</b> / Engineer (Deep Learning &amp;...</a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0ClvsRMZZYbWkncYKklQZhomgGvtzxN2NDL0Yep_oEtFRBSc398mSurhg85pZ9IK4hwZENIdnfMrQ6jY9y4BiMTjFetE6lV34ljRGQOt0c--tGxHypRVfT_9BDTHYVgA85tPr6gqrXWhudRWWEWingJQmZosuVaIm0aHAu3GxDSfGuvXMtHODmg-gI8uPxDM6LixRa7SL2vyqdYeEnstzdCQKlqlpQwXTDl1oGghUt8GrGfifDsKz1takQjabeeW5HU3InTcNpQZpJ4Nxro76B6kp5xWaXJGm9HdniBeRqOwjY8Rlw_xFfNZwjS2xTWx43XH6zFcy5-UPQOLeSNWIFHceos5DU4wx1dPJ0dgxvuoIVbjnxdCCYSISj8nhUnHGFpif3El9qBfw==&amp;p=4&amp;fvj=0&amp;vjs=3" id="sja4" onclick="setRefineByCookie(['radius']); sjoc('sja4', 0); convCtr('SJ'); rclk(this,jobmap[4],true,0);" onmousedown="sjomd('sja4'); clk('sja4'); rclk(this,jobmap[4],0);" rel="noopener nofollow" target="_blank" title="Staff Data Scientist">
Staff <b>Data</b> <b>Scientist</b></a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0DKYEYS6AaSgPeXyWAkdM8_YPNZv0Ej8KjQCXpwSuT3KGsW5pPj4sMjBpPYyuqU4nAf91ni18qCqJkekTT9QU6ZceWgCt3OEeLWOp-TYFjiJ9nK4YCm_Re97G6hEcdR8ad7my0LOdNO-W8fnR6GpL6gQmEJXq3XafOeApaQeajU6NTSYjItBbvuYBl0m--dAPQITS1MNN3VmeDcB6ejSxObqgQLUEWoUkfJJV_TpCLxwmA6AmTDCLMueASMDjqVBV8VqhPQhoWp0SroZxNOAXxzzicTe1N-nTDNf78MdaW8BeBhYEnz7y5pRMKNa64vGmB11ynZTJ83nfcd0YKFKFW0RRxOJYprYR3p8LqSplF5gXdHyqtG222Bz_HIPsDrMkZL5FV5T0FiAXl16Rx8kCuhZ7DmWN-tuYAxorDfo5i0j9NgMcAAH1n2wYOD-sKKEAhpJO6MQCyRy-teSy-fNmlvrB1SoVHml7EMA2Kw9XFJZhz13Yb3fG6N5fsIBLK3aADOUK8G02VFd0QgaZ2f_-K34c53K0bnAvvCnaXJUi8Lyg==&amp;p=5&amp;fvj=0&amp;vjs=3" id="sja5" onclick="setRefineByCookie(['radius']); sjoc('sja5', 1); convCtr('SJ'); rclk(this,jobmap[5],true,1);" onmousedown="sjomd('sja5'); clk('sja5'); rclk(this,jobmap[5],1);" rel="noopener nofollow" target="_blank" title="Senior Data Analyst">
Senior <b>Data</b> Analyst</a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0DPf8Tf_oakpB62WadId2dzQiWExtALTi0lpCM--zHBL4xiBVbb_EgRS2Er7uFpdEz_ZMd1hAI9n9ZHLdBJIc2DhYmtRzvhhYcLxsSOKPUFr7oF9xmgZfCKHO9UkJbap-eSQDItbj3sYmBpfRCUQt7v0bptaEP_68Mpbw5rYdjmLrZnPkvLS9HoPrMrtTM3atVgXzIqKnSF6RwHvqwfL24kqhRLVWdIvBtBkvkZyRG-v8ZZA6Cu9_eQIHTDMVA9qT9tXNFWyrQ7I-qABAtSmjnZXVfgE-haw5HgzwNvCEpBfcsGX-zR3kcyyLavcF6A1kupIpTajILScdJIdtmL5yOPRH2w8D1PFZap2wfhzxcU5ZK6SLsBlE7Ev60yawEG37ESsULD0H0dDZBdtr1o8PMX8LHOiXpE4HNcMeh0eUAw-d_aFhclvMjz4volzZnv-vHRqrRjOojLahyK2gmKLUttOaVluyJVb2k71MJHIoN7YSK4vczkm3FF8ytnIqjjS3muylau9QwzputIz3j9HKwb_Qj_GQMcqKjGYU5ZhZUPa3gNDD9BiKLFXnPnjCHcohsvZG2aLPDmnRt-9tNqeJ8hGByG5Yj0fb-jkn5e4rB7UAF9H9U1V34V&amp;p=6&amp;fvj=0&amp;vjs=3" id="sja6" onclick="setRefineByCookie(['radius']); sjoc('sja6', 0); convCtr('SJ'); rclk(this,jobmap[6],true,0);" onmousedown="sjomd('sja6'); clk('sja6'); rclk(this,jobmap[6],0);" rel="noopener nofollow" target="_blank" title="Sr. Principal Data Scientist">
Sr. Principal <b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/company/Mobile-Programming/jobs/Data-Scientist-df4e6af65c173ecb?fccid=d0377b42bd69efd8&amp;vjs=3" id="jl_df4e6af65c173ecb" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[7],true,0);" onmousedown="return rclk(this,jobmap[7],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/company/GradTests/jobs/Data-Scientist-61369985007480f5?fccid=3b57c72e54f9233d&amp;vjs=3" id="jl_61369985007480f5" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[8],true,1);" onmousedown="return rclk(this,jobmap[8],1);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=e48719183cfe2f66&amp;fccid=ba0b4ef452449c10&amp;vjs=3" id="jl_e48719183cfe2f66" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[9],true,0);" onmousedown="return rclk(this,jobmap[9],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=8c14ad33311ec5b3&amp;fccid=87d7af0ec9cd5df0&amp;vjs=3" id="jl_8c14ad33311ec5b3" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[10],true,0);" onmousedown="return rclk(this,jobmap[10],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=a2e9b786626bdcf5&amp;fccid=5eaae7a6faec1749&amp;vjs=3" id="jl_a2e9b786626bdcf5" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[11],true,0);" onmousedown="return rclk(this,jobmap[11],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=539843aa92aaf8ce&amp;fccid=a23e5e2f20b1aac4&amp;vjs=3" id="jl_539843aa92aaf8ce" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[12],true,0);" onmousedown="return rclk(this,jobmap[12],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=26e1065d7f6d9c88&amp;fccid=8f3c0373bcfa5520&amp;vjs=3" id="jl_26e1065d7f6d9c88" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[13],true,0);" onmousedown="return rclk(this,jobmap[13],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=30a3bcd7b43db91d&amp;fccid=3bcef03e34391ca8&amp;vjs=3" id="jl_30a3bcd7b43db91d" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[14],true,0);" onmousedown="return rclk(this,jobmap[14],0);" rel="noopener nofollow" target="_blank" title="Data Scientist">
<b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/company/Competitive-Analytics/jobs/Accounting-Finance-Data-Scientist-170c9b75f9736574?fccid=4162bb76db63f003&amp;vjs=3" id="jl_170c9b75f9736574" onclick="setRefineByCookie(['radius']); return rclk(this,jobmap[15],true,1);" onmousedown="return rclk(this,jobmap[15],1);" rel="noopener nofollow" target="_blank" title="Accounting Finance Data Scientist">
Accounting Finance <b>Data</b> <b>Scientist</b></a>
</h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0ClvsRMZZYbWkncYKklQZhomgGvtzxN2NDL0Yep_oEtFRBSc398mSurhg85pZ9IK4hwZENIdnfMrd9vgmYaldPQpYZYmqd_RWsMa-UQUHq33lrt1JtH8E7ZxWSo7ImAkgsQHQpZ3y3tmy7gmAY8NN36ukbUMuJZOPf8odOi9ueOllFZaVH93Ap9PLhZA0phz3AFeZWrCyOZCcRSwPpoV_iosMBRj02YUd-41EJXla2th5i6YTJSf5gh7Q0n2poJIxk632q-RD_sVkmpCOTZz3luchSXLFth7RJsgqqFqqohz_YPupw2rBkmtkgKT76G-ADE_nSIf0us8BhoA6NNGxbbbW6ISE2m5vEQh-0eQvDsxRdw3BEDR2jZx2qIIjQ888te-9_bMY2MBUBS9dB8lXQZ&amp;p=16&amp;fvj=0&amp;vjs=3" id="sja16" onclick="setRefineByCookie(['radius']); sjoc('sja16', 0); convCtr('SJ'); rclk(this,jobmap[16],true,0);" onmousedown="sjomd('sja16'); clk('sja16'); rclk(this,jobmap[16],0);" rel="noopener nofollow" target="_blank" title="Senior Data Scientist">
Senior <b>Data</b> <b>Scientist</b></a>
<span class="new">new</span></h2>, <h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0ClvsRMZZYbWkncYKklQZhomgGvtzxN2NDL0Yep_oEtFRBSc398mSurhg85pZ9IK4hwZENIdnfMrfT31QlmgQnUNsllJCuzCyoL6Y8z-8PyQo2okYl75ZdJ1F6hsfqRCcpp1Z-R9T2X6kucCAyUQ1kNNld1HMMlL2cjG6jH8a5i2zQGvbiNpeBr8jnbhIwR2a8VMKboRPVDMZq8sUMwAsqwueZLu92Q9EMwBnFMtMHfLQY39kCctfrALkddJeVRDyAs_SG3nYmy2QDZe4_ICQ0DTGIKirKk82_z7Hu747UCtGFK3s0z8SmlOSYCqN5deE1xZ9zhyxhTfss8Ukii0t6GJQDHc5KY0vBUv_GmbZi8TXQ1HvJvEArFay2n70c4bOngS4Tz40Ipug==&amp;p=17&amp;fvj=0&amp;vjs=3" id="sja17" onclick="setRefineByCookie(['radius']); sjoc('sja17', 0); convCtr('SJ'); rclk(this,jobmap[17],true,0);" onmousedown="sjomd('sja17'); clk('sja17'); rclk(this,jobmap[17],0);" rel="noopener nofollow" target="_blank" title="Staff Data Scientist - Analytics">
Staff <b>Data</b> <b>Scientist</b> - Analytics</a>
<span class="new">new</span></h2>]

In [8]:
#result to be Returned as an iterable list
for title in titles:
    job_title = title.get_text()
    print(job_title)

Educational Data Scientist



Data Scientist
new


Senior Health Data Analyst (Remote / Tableau experience requ...
new


Deep Learning Research Scientist / Engineer (Deep Learning &...



Staff Data Scientist
new


Senior Data Analyst



Sr. Principal Data Scientist



Data Scientist
new


Data Scientist



Data Scientist



Data Scientist



Data Scientist



Data Scientist



Data Scientist
new


Data Scientist



Accounting Finance Data Scientist



Senior Data Scientist
new


Staff Data Scientist - Analytics
new

In [9]:

try:
    dismiss = browser.find_by_xpath('/html/body/div[2]/div/section/div/div[2]')
    more_jobs = browser.find_by_xpath('/html/body/table[2]/tbody/tr/td/table/tbody/tr/td[1]/nav/div/ul/li[6]/a/span')
    no_thanks = browser.find_by_xpath('/html/body/div[3]/div[2]/div[4]/div[3]/div[2]/a')
    dismiss.first.click()
    more_jobs.first.click()
    no_thanks.first.click()
except:
    print("not found")

not found

In [10]:
#Empty list to append the the result and index 0 is an int 
job_titles = [0]
 
 #loop through the result    
for x in range(1, 2):
    titles = soup.find_all("h2", class_ = "title")
    for title in titles:
        job_titles.append(title.text)
        print('page:', x, '-------------')
        print(title.text)
        browser.find_by_xpath('/html/body/table[2]/tbody/tr/td/table/tbody/tr/td[1]/nav/div/ul/li[6]/a/span/span')

page: 1 -------------


Educational Data Scientist

page: 1 -------------


Data Scientist
new
page: 1 -------------


Senior Health Data Analyst (Remote / Tableau experience requ...
new
page: 1 -------------


Deep Learning Research Scientist / Engineer (Deep Learning &...

page: 1 -------------


Staff Data Scientist
new
page: 1 -------------


Senior Data Analyst

page: 1 -------------


Sr. Principal Data Scientist

page: 1 -------------


Data Scientist
new
page: 1 -------------


Data Scientist

page: 1 -------------


Data Scientist

page: 1 -------------


Data Scientist

page: 1 -------------


Data Scientist

page: 1 -------------


Data Scientist

page: 1 -------------


Data Scientist
new
page: 1 -------------


Data Scientist

page: 1 -------------


Accounting Finance Data Scientist

page: 1 -------------


Senior Data Scientist
new
page: 1 -------------


Staff Data Scientist - Analytics
new

In [11]:
#Use replace to print out a clean job title
clean_job_titles = []

#loop through result
for job in job_titles[1:]:
    clean_job_title = job.replace('\n', '')
    clean_job_titles.append(clean_job_title)

In [12]:
#print clean job titles to check
print(clean_job_titles)

['Educational Data Scientist', 'Data Scientistnew', 'Senior Health Data Analyst (Remote / Tableau experience requ...new', 'Deep Learning Research Scientist / Engineer (Deep Learning &...', 'Staff Data Scientistnew', 'Senior Data Analyst', 'Sr. Principal Data Scientist', 'Data Scientistnew', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientistnew', 'Data Scientist', 'Accounting Finance Data Scientist', 'Senior Data Scientistnew', 'Staff Data Scientist - Analyticsnew']

In [13]:
#result to return the job locations
locations = soup.find_all("span", class_ = "location accessible-contrast-color-location")
locations

[<span class="location accessible-contrast-color-location">Irvine, CA</span>,
 <span class="location accessible-contrast-color-location">Los Angeles, CA</span>,
 <span class="location accessible-contrast-color-location">Irvine, CA</span>,
 <span class="location accessible-contrast-color-location">Irvine, CA 92618 <span style="font-size: smaller">(East Industrial Complex area)</span></span>,
 <span class="location accessible-contrast-color-location">Irvine, CA 92617 <span style="font-size: smaller">(Research Park area)</span></span>,
 <span class="location accessible-contrast-color-location">Irvine, CA 92617 <span style="font-size: smaller">(Research Park area)</span></span>,
 <span class="location accessible-contrast-color-location">Pasadena, CA 91101 <span style="font-size: smaller">(South area)</span></span>,
 <span class="location accessible-contrast-color-location">San Diego, CA 92127</span>,
 <span class="location accessible-contrast-color-location">Newport Beach, CA 92660</span>]

In [14]:
#Empty list to append the result
job_locations = []


#loop through the returned result
for x in range(1, 2):
    locations = soup.find_all("span", class_ = "location accessible-contrast-color-location")
    for location in locations:
        job_locations.append(location.text)
        print('page:', x, '-------------')
        print(location.text)
        browser.find_by_xpath('/html/body/table[2]/tbody/tr/td/table/tbody/tr/td[1]/div[7]/div[1]/span[1]')

page: 1 -------------
Irvine, CA
page: 1 -------------
Los Angeles, CA
page: 1 -------------
Irvine, CA
page: 1 -------------
Irvine, CA 92618 (East Industrial Complex area)
page: 1 -------------
Irvine, CA 92617 (Research Park area)
page: 1 -------------
Irvine, CA 92617 (Research Park area)
page: 1 -------------
Pasadena, CA 91101 (South area)
page: 1 -------------
San Diego, CA 92127
page: 1 -------------
Newport Beach, CA 92660

In [15]:
#print job locations
print(job_locations)
browser.quit()

['Irvine, CA', 'Los Angeles, CA', 'Irvine, CA', 'Irvine, CA 92618 (East Industrial Complex area)', 'Irvine, CA 92617 (Research Park area)', 'Irvine, CA 92617 (Research Park area)', 'Pasadena, CA 91101 (South area)', 'San Diego, CA 92127', 'Newport Beach, CA 92660']

In [16]:
#zip both result into a list
new_list = list(zip(clean_job_titles, job_locations))

In [17]:
#print new_list that has both the job_titiles and locations
print(new_list)

[('Educational Data Scientist', 'Irvine, CA'), ('Data Scientistnew', 'Los Angeles, CA'), ('Senior Health Data Analyst (Remote / Tableau experience requ...new', 'Irvine, CA'), ('Deep Learning Research Scientist / Engineer (Deep Learning &...', 'Irvine, CA 92618 (East Industrial Complex area)'), ('Staff Data Scientistnew', 'Irvine, CA 92617 (Research Park area)'), ('Senior Data Analyst', 'Irvine, CA 92617 (Research Park area)'), ('Sr. Principal Data Scientist', 'Pasadena, CA 91101 (South area)'), ('Data Scientistnew', 'San Diego, CA 92127'), ('Data Scientist', 'Newport Beach, CA 92660')]

In [18]:
#append list into a python dictionary
updated_list = dict(new_list)
updated_list

{'Educational Data Scientist': 'Irvine, CA',
 'Data Scientistnew': 'San Diego, CA 92127',
 'Senior Health Data Analyst (Remote / Tableau experience requ...new': 'Irvine, CA',
 'Deep Learning Research Scientist / Engineer (Deep Learning &...': 'Irvine, CA 92618 (East Industrial Complex area)',
 'Staff Data Scientistnew': 'Irvine, CA 92617 (Research Park area)',
 'Senior Data Analyst': 'Irvine, CA 92617 (Research Park area)',
 'Sr. Principal Data Scientist': 'Pasadena, CA 91101 (South area)',
 'Data Scientist': 'Newport Beach, CA 92660'}

In [19]:
#append colums keys
New_job_location_df = pd.DataFrame(new_list, columns=['Job_Title', 'Location'])
New_job_location_df

,Job_Title,Location
0,Educational Data Scientist,"Irvine, CA"
1,Data Scientistnew,"Los Angeles, CA"
2,Senior Health Data Analyst (Remote / Tableau e...,"Irvine, CA"
3,Deep Learning Research Scientist / Engineer (D...,"Irvine, CA 92618 (East Industrial Complex area)"
4,Staff Data Scientistnew,"Irvine, CA 92617 (Research Park area)"
5,Senior Data Analyst,"Irvine, CA 92617 (Research Park area)"
6,Sr. Principal Data Scientist,"Pasadena, CA 91101 (South area)"
7,Data Scientistnew,"San Diego, CA 92127"
8,Data Scientist,"Newport Beach, CA 92660"

In [20]:
New_job_location_df['City'] = New_job_location_df['Location'].str.split(',').str[0]

In [21]:
New_job_location_df['Lat'] = ''
New_job_location_df['Lng'] = ''

In [22]:
New_job_location_df

,Job_Title,Location,City,Lat,Lng
0,Educational Data Scientist,"Irvine, CA",Irvine,,
1,Data Scientistnew,"Los Angeles, CA",Los Angeles,,
2,Senior Health Data Analyst (Remote / Tableau e...,"Irvine, CA",Irvine,,
3,Deep Learning Research Scientist / Engineer (D...,"Irvine, CA 92618 (East Industrial Complex area)",Irvine,,
4,Staff Data Scientistnew,"Irvine, CA 92617 (Research Park area)",Irvine,,
5,Senior Data Analyst,"Irvine, CA 92617 (Research Park area)",Irvine,,
6,Sr. Principal Data Scientist,"Pasadena, CA 91101 (South area)",Pasadena,,
7,Data Scientistnew,"San Diego, CA 92127",San Diego,,
8,Data Scientist,"Newport Beach, CA 92660",Newport Beach,,

In [23]:
for index, row in New_job_location_df.iterrows():
    city = row['City']
    base_url = "https://api.mapbox.com/geocoding/v5/mapbox.places/"
    response = requests.get(f'{base_url}{city}.json?access_token={api_key}').json()
    
    try:
        print(f'Retrieving rating data for {city}')
        New_job_location_df.loc[index, 'Lat'] = response['features'][0]['geometry']['coordinates'][1]
        New_job_location_df.loc[index, 'Lng'] = response['features'][0]['geometry']['coordinates'][0]
    except(KeyError, IndexError):
        print('Missing data')

Retrieving rating data for Irvine
Retrieving rating data for Los Angeles
Retrieving rating data for Irvine
Retrieving rating data for Irvine
Retrieving rating data for Irvine
Retrieving rating data for Irvine
Retrieving rating data for Pasadena
Retrieving rating data for San Diego
Retrieving rating data for Newport Beach

In [24]:
New_job_location_df

,Job_Title,Location,City,Lat,Lng
0,Educational Data Scientist,"Irvine, CA",Irvine,33.6857,-117.826
1,Data Scientistnew,"Los Angeles, CA",Los Angeles,34.0544,-118.244
2,Senior Health Data Analyst (Remote / Tableau e...,"Irvine, CA",Irvine,33.6857,-117.826
3,Deep Learning Research Scientist / Engineer (D...,"Irvine, CA 92618 (East Industrial Complex area)",Irvine,33.6857,-117.826
4,Staff Data Scientistnew,"Irvine, CA 92617 (Research Park area)",Irvine,33.6857,-117.826
5,Senior Data Analyst,"Irvine, CA 92617 (Research Park area)",Irvine,33.6857,-117.826
6,Sr. Principal Data Scientist,"Pasadena, CA 91101 (South area)",Pasadena,29.6911,-95.2091
7,Data Scientistnew,"San Diego, CA 92127",San Diego,32.7174,-117.163
8,Data Scientist,"Newport Beach, CA 92660",Newport Beach,33.617,-117.929

In [25]:
# test_city = 'Irvine'
# base_url = "https://api.mapbox.com/geocoding/v5/mapbox.places/"
# search = base_url + test_city + '.json?access_token=' + api_key

# response = requests.get(search).json()
# response


# lat = response['features'][0]['geometry']['coordinates'][1]
# lng = response['features'][0]['geometry']['coordinates'][0]
# print(lat)
# print(lng)

In [26]:
New_job_location_df['job_type'] = 'Data Scientist'

In [29]:
New_job_location_df

,Job_Title,Location,City,Lat,Lng,job_type
0,Educational Data Scientist,"Irvine, CA",Irvine,33.6857,-117.826,Data Scientist
1,Data Scientistnew,"Los Angeles, CA",Los Angeles,34.0544,-118.244,Data Scientist
2,Senior Health Data Analyst (Remote / Tableau e...,"Irvine, CA",Irvine,33.6857,-117.826,Data Scientist
3,Deep Learning Research Scientist / Engineer (D...,"Irvine, CA 92618 (East Industrial Complex area)",Irvine,33.6857,-117.826,Data Scientist
4,Staff Data Scientistnew,"Irvine, CA 92617 (Research Park area)",Irvine,33.6857,-117.826,Data Scientist
5,Senior Data Analyst,"Irvine, CA 92617 (Research Park area)",Irvine,33.6857,-117.826,Data Scientist
6,Sr. Principal Data Scientist,"Pasadena, CA 91101 (South area)",Pasadena,29.6911,-95.2091,Data Scientist
7,Data Scientistnew,"San Diego, CA 92127",San Diego,32.7174,-117.163,Data Scientist
8,Data Scientist,"Newport Beach, CA 92660",Newport Beach,33.617,-117.929,Data Scientist

In [30]:
#Define database and collection
#Database = Indeed_db
#Collections = Data_jobs
client.Indeed_db.Data_jobs.insert_many(New_job_location_df.to_dict('records'))

In [28]:
#Done